# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# generated native folders
/ios
/android

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

.env

SETUP_GUIDE.md